@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
:root {
 --header-color: #73b6fa;
 --nav-hover: rgb(98, 138, 138);
}
body {
 font-family: "Nunito", "Arial", sans-serif;
 background-color: cornsilk;
}

header {
    background-color: var(--nav-hover);
    color: white;
    font-weight: bolder;
    font-size: 2em;
    text-transform: uppercase;
    padding: 30px 30px 30px 30px;
    text-align: center;
    text-shadow: darkblue 2px 2px;
    

   }
  

   div h1 {
       color : black;
       font-weight: bolder;
       text-align:center;
   }

   div p {
       padding:0px 20px 0px 20px;
       color: gray;
       font-size: 1.5em;

   }

   .title {
       text-align: center;
       font-size: 1.5em;
   }
   .location{
     text-align: center;
    font-weight: bolder;
    color :black;
    border-top: solid rgb(98, 138, 138);
    border-bottom: solid rgb(98, 138, 138);
    font-size: 1.1em;
    padding:20px;
   }
   

  
   blockquote {
    font-size: 1.5em;
    color: gray;
    display: none;
   }
   .showAnswer {
    display: block;
   }
   h2 {
    color: black;
    cursor: pointer;
    user-select: none;
   }

   a {
       color: gray;
       text-decoration: none;
   }
   .opened {
    color: gray;
   }
  


   
   .container1{
    display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px ;
  grid-row-gap: 50px;
  
  
     
  
   }
   .col1 {
    padding: 20px 20px 20px 20px;
    text-align: center;
    padding: 5px 5px 5px 5px;


   }

   .container2{
    display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 100px ;
  grid-row-gap: 100px;
   }


.col2{
 padding: 20px 20px 20px 20px;
 text-align: center;
 padding: 5px 5px 5px 5px;
 


}

.info{
    text-align:center;
    padding:auto auto auto auto;
    padding: 20px 20px 20px 20px;
}
ul , li {
    color: darkslategrey;
    text-align: center justify;

}
  


   footer {
    background-color: rgb(98, 138, 138);
    text-align: center;
    padding: 5px 0;
    }
   


   .programare {
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    background-color: powderblue;
   }
   label, input, select {
    margin: 5px 1px;
}
   